.App .App__button {
  color: black;
  background: transparent;
  border: 2px solid teal;
}
.App .App__wrapper {
  border: 1px solid teal;
  border-top: 3px solid teal;
  border-bottom: 3px solid teal;
}
.line {
  text-decoration-line: line-through;
}
